@model IEnumerable<GAM1.Models.Employee>

@{
    ViewBag.Title = "Index";
}
@Html.ActionLink("Create new Employee", "Create", "Employees", null, new { @class = "btn btn-success" })

<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
        <th>Operations</th>
    </tr>
    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.Id</td>
            <td>@emp.Name</td>
            <td>@emp.City</td>
            <td>
                @Html.ActionLink("تعديل", "Edit", "Employees", new { id = emp.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("حذف", "Delete", "Employees", new { id = emp.Id }, new { @class = "btn btn-outline-danger" })
                @Html.ActionLink("تفاصيل", "Details", "Employees", new { id = emp.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>

